In [2]:
from sklearn.cluster import KMeans
import pandas as pd

In [3]:
df = pd.read_csv('Datasets/CDR.csv')
df.head()

,In,Out,Direction,CallDate,CallTime,DOW,Duration,TowerID,TowerLat,TowerLon
0,4638472273,2666307251,Incoming,2010-12-25,07:16:24.736813,Sat,0:02:41.741499,0db53dd3-eb9c-4344-abc5-c2d74ebc3eec,32.731611,-96.709417
1,4638472273,1755442610,Incoming,2010-12-25,21:18:30.053710,Sat,0:02:47.108750,aeaf8b43-8034-44fe-833d-31854a75acbf,32.731722,-96.709500
2,4638472273,5481755331,Incoming,2010-12-25,14:52:42.878016,Sat,0:04:35.356341,fadaa83f-6001-45fd-aa4a-17d6c6b7ec00,32.899944,-96.910389
3,4638472273,1755442610,Incoming,2010-12-25,16:02:09.001913,Sat,0:02:23.498499,fadaa83f-6001-45fd-aa4a-17d6c6b7ec00,32.899944,-96.910389
4,4638472273,2145623768,Incoming,2010-12-25,15:28:35.028554,Sat,0:03:54.692497,95d7920d-c3cd-4d20-a568-9a55800dc807,32.899944,-96.910389

In [4]:
kmeans = KMeans(n_clusters=5)

In [7]:
kmeans.fit(df[['In', 'Out', 'TowerLat', 'TowerLon']])

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=5, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [8]:
labels = kmeans.predict(df[['In', 'Out', 'TowerLat', 'TowerLon']])

In [9]:
labels

array([1, 2, 1, ..., 4, 4, 4])

In [10]:
centroids = kmeans.cluster_centers_

In [11]:
centroids

array([[ 2.80236768e+09,  7.62965345e+09,  3.27806899e+01,
        -9.68550430e+01],
       [ 2.82415982e+09,  4.21174124e+09,  3.27737624e+01,
        -9.68383879e+01],
       [ 2.53459353e+09,  1.35569495e+09,  3.27704405e+01,
        -9.68342325e+01],
       [ 8.54953308e+09,  8.63407539e+09,  3.28964303e+01,
        -9.67936394e+01],
       [ 8.54953308e+09,  1.59262622e+09,  3.28920730e+01,
        -9.67931931e+01]])